flows.json
[{"id":"2d3965db.c36f3a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4d4bfdb3.e330c4","type":"ui_button","z":"2d3965db.c36f3a","name":"","group":"9a2ae0cc.ae79","order":2,"width":"3","height":"3","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"red","icon":"filter_2","payload":"2","payloadType":"str","topic":"","x":130,"y":160,"wires":[["5d52b33d.79302c","36160d84.9939f2"]]},{"id":"962741ab.95c2","type":"ui_button","z":"2d3965db.c36f3a","name":"","group":"9a2ae0cc.ae79","order":3,"width":"3","height":"3","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"yellow","icon":"filter_3","payload":"3","payloadType":"str","topic":"","x":130,"y":200,"wires":[["5d52b33d.79302c","36160d84.9939f2"]]},{"id":"18e95187.f216be","type":"ui_button","z":"2d3965db.c36f3a","name":"","group":"9a2ae0cc.ae79","order":4,"width":"3","height":"3","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"violet","icon":"filter_4","payload":"4","payloadType":"str","topic":"","x":130,"y":240,"wires":[["5d52b33d.79302c","36160d84.9939f2"]]},{"id":"c09e9a9c.e0fd08","type":"ui_button","z":"2d3965db.c36f3a","name":"","group":"9a2ae0cc.ae79","order":5,"width":"3","height":"3","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"orange","icon":"filter_5","payload":"5","payloadType":"str","topic":"","x":130,"y":280,"wires":[["5d52b33d.79302c","36160d84.9939f2"]]},{"id":"1cf4fd89.e9c032","type":"ui_button","z":"2d3965db.c36f3a","name":"","group":"9a2ae0cc.ae79","order":6,"width":"3","height":"3","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"filter_6","payload":"6","payloadType":"str","topic":"","x":130,"y":320,"wires":[["5d52b33d.79302c","36160d84.9939f2"]]},{"id":"c081083a.158128","type":"ui_button","z":"2d3965db.c36f3a","name":"","group":"9a2ae0cc.ae79","order":7,"width":"3","height":"3","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"pink","icon":"filter_7","payload":"7","payloadType":"str","topic":"","x":130,"y":360,"wires":[["5d52b33d.79302c","36160d84.9939f2"]]},{"id":"6db0fb6.564d004","type":"ui_button","z":"2d3965db.c36f3a","name":"","group":"9a2ae0cc.ae79","order":8,"width":"3","height":"3","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"olive","icon":"filter_8","payload":"8","payloadType":"str","topic":"","x":130,"y":400,"wires":[["5d52b33d.79302c","36160d84.9939f2"]]},{"id":"121aa705.da4d89","type":"ui_button","z":"2d3965db.c36f3a","name":"","group":"9a2ae0cc.ae79","order":1,"width":"3","height":"3","passthru":true,"label":"","tooltip":"","color":"","bgcolor":"teal","icon":"filter_1","payload":"1","payloadType":"str","topic":"","x":130,"y":120,"wires":[["5d52b33d.79302c","36160d84.9939f2"]],"inputLabels":["1"]},{"id":"48a8411c.c577d","type":"ui_toast","z":"2d3965db.c36f3a","position":"bottom left","displayTime":"5","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":530,"y":320,"wires":[]},{"id":"5d52b33d.79302c","type":"trigger","z":"2d3965db.c36f3a","op1":"","op2":"Place your card at the RFID reader.","op1type":"nul","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"topic","name":"","x":340,"y":300,"wires":[["6aff11bf.b78f5","48a8411c.c577d"]]},{"id":"36160d84.9939f2","type":"exec","z":"2d3965db.c36f3a","command":"sudo python3 /home/pi/Desktop/vending.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":160,"wires":[["ab0f6d4e.34897"],[],[]]},{"id":"6aff11bf.b78f5","type":"play audio","z":"2d3965db.c36f3a","name":"","voice":"11","x":510,"y":260,"wires":[]},{"id":"ab0f6d4e.34897","type":"debug","z":"2d3965db.c36f3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":140,"wires":[]},{"id":"9a2ae0cc.ae79","type":"ui_group","z":"","name":"Choose one from the available options","tab":"ef96974.c676268","disp":true,"width":"12","collapse":false},{"id":"ef96974.c676268","type":"ui_tab","z":"","name":"Electronic components Vending Machine","icon":"devices_other","disabled":false,"hidden":false}]